:root {
  --main-bg-color: #2f2f2f;
  --text-color: #fff;
  --link-color: #007BFF;
  --accent-color: #ff5722;
}

body {
  background-color: var(--main-bg-color);
  font-family: 'Arial', sans-serif;
  color: var(--text-color);
  margin: 0;
}

header {
  background-color: var(--main-bg-color);
  text-align: center;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

header h1 {
  font-size: 40px;
  color: var(--accent-color);
}

nav ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 0 20px;
  font-size:25px;
}

nav a {
  text-decoration: none;
  color: var(--text-color);
}

section {
  padding: 40px;
}

h2 {
  color: var(--accent-color);
  font-size: 35px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  font-size: 25px;
}
p{
  font-size:35px ;
}

.package {
  background-color: var(--main-bg-color);
  border: 1px solid var(--accent-color);
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

footer{
  text-align: center;
  font-weight: lighter;
  font-size:25px ;
}


  
